body {
  padding-top: 50px;
}

a {
  color: #d33f49;
}

label.pt-control {
  font-weight: normal;
}

.pt-navbar.pt-dark a {
  color: white;
  text-decoration: none;
}

.pt-tab-list {
  min-width: 120px;
}

.pt-tab-panel {
  padding-top: 20px;
  /*padding-right: 20px;*/
}

.inline-block {
  display: inline-block;
}

.menu {
  position: fixed;
  top: 48px;
}

.posm-panel {
  margin-left: 200px;
  margin-right: 20px;
}
