body {
  padding-top: 50px;
}

a {
  color: #d33f49;
}

a, a:hover, a:visited, a:link, a:active, a:focus {
  text-decoration: none;
}

a.toggle {
  margin-right: 10px;
}

.dropzone.filepicker {
  border-width: 1px;
  margin-bottom: 20px;
  background-color: #c8e0f0;
}

.pt-non-ideal-state.dz-message {
  margin: 0 auto;
}

label.pt-control {
  font-weight: normal;
}

.pt-editable-text.baseline {
  vertical-align: baseline;
}

.panel-title .pt-editable-text {
  padding-top: 6px;
  padding-bottom: 6px;
}

.pt-navbar {
  z-index: 10000;
}

.pt-navbar.pt-dark a {
  color: white;
  text-decoration: none;
}

.inline-block {
  display: inline-block;
}

.menu {
  position: fixed;
  top: 48px;
}

.modal {
  z-index: 10001;
}

.panel.possibly-empty .panel-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.posm-panel {
  margin-left: 200px;
  margin-right: 20px;
}

.posm-panel code {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.panel .row {
  margin: 10px;
}

.panel .row h4 {
  margin-top: 20px;
}

.blue {
  color: #3498db;
}

.red {
  color: #e74c3c;
}

.hljs-comment, .hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string, .hljs-doctag {
  color: #d14;
}

.hljs-title, .hljs-section, .hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type, .hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag, .hljs-name, .hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp, .hljs-link {
  color: #009926;
}

.hljs-symbol, .hljs-bullet {
  color: #990073;
}

.hljs-built_in, .hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
