body {
  padding-top: 50px;
}

a {
  color: #d33f49;
}

a,
a:hover,
a:visited,
a:link,
a:active,
a:focus {
  text-decoration: none;
}

a.toggle {
  margin-right: 10px;
}

.dropzone.filepicker {
  border-width: 1px;
  margin-bottom: 20px;
  padding: 7px;
  background-color: #c8e0f0;
}

.bp3-non-ideal-state.dz-message {
  margin: 0 auto;
}

label.bp3-control {
  font-weight: normal;
}

.bp3-editable-text.baseline {
  vertical-align: baseline;
}

.panel-title .bp3-editable-text {
  padding-top: 6px;
  padding-bottom: 6px;
}

.bp3-navbar {
  z-index: 10000;
}

.bp3-navbar.bp3-dark a {
  color: white;
  text-decoration: none;
}

.bp3-popover {
  top: 14px;
  position: fixed;
}

.bp3-popover-content {
  height: calc(100vh - 60px);
  overflow-y: scroll;
}

.inline-block {
  display: inline-block;
}

.sidebar {
  display: none;
}

.bp3-navbar {
  padding-left: 0;
}

nav .logo {
  padding-left: 15px;
}

nav .homeLink {
  display: none;
}

.carousel-control {
  background-image: none !important;
}

.modal {
  z-index: 10001;
}

.panel.possibly-empty .panel-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.panel-heading .toggle {
  float: left;
  font-size: 20px;
  padding-top: 2px;
}

.panel-heading .toggle::before {
  content: "\2212";
}

.panel-heading .toggle.collapsed::before {
  content: "+";
}

.posm-panel {
  margin-left: 10px;
  margin-right: 10px;
}

.posm-panel.apps {
  display: none;
}

.posm-panel code {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.panel .row {
  margin: 10px;
}

.panel .row h4 {
  margin-top: 20px;
}

.blue {
  color: #3498db;
}

.red {
  color: #e74c3c;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

ul.files {
  font-weight: bold;
}

ul.files code {
  font-size: medium;
}

.modal-dialog {
  top: 48px;
}

.bp3-input.url {
  width: 100%;
}

#terminal {
  height: calc(100vh - 155px);
}

.mapContainer {
  height: calc(100vh - 60px);
}

@media (min-width: 768px) {
  .bp3-navbar {
    padding-left: 15px;
  }

  nav .homeLink {
    display: inline;
  }

  nav .bp3-popover-wrapper {
    display: none;
  }

  .sidebar {
    display: block;
  }

  .menu {
    position: fixed;
    top: 48px;
  }

  .posm-panel {
    margin-left: 200px;
    margin-right: 20px;
  }

  .posm-panel.apps {
    display: block;
  }

  ul.files {
    column-count: 3;
    font-weight: normal;
  }

  ul.files code {
    font-size: smaller;
  }

  .bp3-input.url {
    width: 400px;
  }

  .mapContainer {
    height: auto;
    min-height: 500px;
  }
}
